.content {
    width: 90%; 
    height: 450px; 
    margin: 0 5% 50px 5%;
}

.container-search {
  width: 100%;
  padding-top: 20px;
}

.search-bar {
  float: right;
  padding:20px 0;
}

.pagination {
    padding-left: 41.5%;
}

/* Modal */

.cancelbtn, .deletebtn {
    float: left;
    width: 15%;
    margin-top: 20px;
    padding: 20px 0;
    font-weight: 30px;
  }
  
  .cancelbtn {
    background-color: #ccc;
    color: black;
    margin-left: 10%;
  }

  .deletebtn {
    background-color: #f44336;
    margin-left: 30%;
  }
  

  .deletebtn:hover, .cancelbtn:hover {
    filter: invert(0);
  }
  
  .container-modal {
    padding: 50px;
    text-align: center;
  }
  
  .modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #474e5d;
    padding-top: 200px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%; 
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
       width: 100%;
    }
  }

  .col-del-btn {
      float: right;
  }