
<div class="col-md-12 content">

  <!-- Search Bar -->
  <div class="container-search">  
    <div class="option-search">
      <h4>Search By </h4>
      <select name="selectOptionSearch" id="search" [(ngModel)]="selected">
        <option *ngFor="let option of options" [value]="option">
          {{option}}
        </option>
      </select>
    </div>
    <div class="search-bar">  
        <input class="form-control-lg" type="text" placeholder="Search..." [(ngModel)]="findValue"
          (input)="goFirstPage()" (keyup)="search()"/>
    </div> 
  </div>

  <!-- Table -->
  <table *ngIf="!isSearch" class="table table-striped">
    <thead>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | paginate: config ">
      <td>{{user.username}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.email}}</td>
      <td class="col-del-btn"><button class="btn btn-danger" (click)="clickedDeleteBtn(user.username)">Delete User</button></td>
    </tr>
    </tbody>
  </table>

  <table *ngIf="isSearch" class="table table-striped">
    <thead>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of findUsers | paginate: config ">
      <td>{{user.username}}</td>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.email}}</td>
      <td class="col-del-btn"><button class="btn btn-danger" (click)="clickedDeleteBtn(user.username)">Delete User</button></td>
    </tr>
    </tbody>
  </table>

  <div *ngIf="clickedDelete" class="modal">
    <div class="modal-content">
      <div class="container-modal">
        <h1>Delete User?</h1>
        <p>Are you sure you want to delete user with username <strong>{{username}}</strong>?</p>
        <p>This can't be undo!</p>
        <div class="clearfix">
          <button type="button" class="deletebtn" (click)="deleteUser(username)">Yes</button>
          <button type="button" class="cancelbtn" (click)="cancelBtnClick()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Paginator -->
<div class="col-md-12 pagination" >
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</div>
