<div class="signup-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="container">
        <h1>Edit Profile</h1>

        <label for="username"><b>Username</b></label>
        <input type="text" name="username" [value]="user.username"
              [disabled]=true/>
        
        <label for="psw"><b>Password</b></label>
        <br>
        <input type="password" name="psw" [value]="user.password"
            [disabled]=true/>

        <label for="firstname"><b>First Name</b></label>
        <input formControlName="firstname" type="text" placeholder="Enter Firstname" name="firstname" 
                [ngClass]="{'is-invalid': submitted && f.firstname.errors}"/>
        <div *ngIf="submitted && f.firstname.errors">
            <div *ngIf="f.firstname.errors.required" class="validation">*Firstname is required</div>
            <div *ngIf="f.firstname.errors.maxlength" class="validation">*Firstname is maximum 15 characters</div>
        </div>

        <label for="lastname"><b>Last Name</b></label>
        <input formControlName="lastname" type="text" placeholder="Enter Lastname" name="lastname" 
                [ngClass]="{'is-invalid': submitted && f.lastname.errors}"/>
        <div *ngIf="submitted && f.lastname.errors">
            <div *ngIf="f.lastname.errors.required" class="validation">*Lastname is required</div>
            <div *ngIf="f.lastname.errors.minlength" class="validation">*Lastname is minimum 2 characters</div>
            <div *ngIf="f.lastname.errors.maxlength" class="validation">*Lastname is maximum 100 characters</div>
        </div>
        
  
        <label for="email"><b>Email</b></label>
        <input formControlName="email" type="text" placeholder="Enter Email" name="email" id="email"
              [ngClass]="{'is-invalid': submitted && f.email.errors}"/>
        <div *ngIf="submitted && f.email.errors">
          <div *ngIf="f.email.errors.required" class="validation">*Email is required</div>
          <div *ngIf="f.email.errors.email" class="validation">*Invalid email format</div>
          <div *ngIf="f.email.errors.maxlength" class="validation">*Email is maximum 200 characters</div>
        </div>
        
        <div class="button-group">
            <button type="submit" class="registerbtn" style="margin-top: 20px">Edit</button>
            <button routerLink="../profile" class="cancelbtn">Cancel</button>
        </div>
      </div>
    </form>
    

    <!-- <div *ngIf="loading" class="modal" style="margin-top: 80px;">
      <div class="modal-content loader">
      </div>
    </div> -->

    <div *ngIf="isSuccess" class="modal">
      <div class="modal-content">
        <div class="container-modal">
          <h1>Success to Edit Profile</h1>

          <p>You will be navigated to Profile page</p>
        
          <div class="clearfix">
            <button routerLink="../profile" type="button" class="okbtn">OK</button>
          </div>
        </div>
      </div>
   </div>  

    <div *ngIf="hasError" class="modal">
      <div class="modal-content">
        <div class="container-modal">
          <h1>Error!</h1>

          <div *ngFor="let error of message">
            <p>{{error}}</p>
          </div>
        
          <div class="clearfix">
            <button (click)="cancelSubmit()" type="button" class="okbtn">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
