<div class="container-dashboard">
    <div class="navigation">
        <ul>
            <li>
                <a>
                    <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                    <span class="title"><h2>Dashboard</h2></span>
                </a>
            </li>
            <li>
                <a routerLink="profile" (click)="changeColorFunction(0)"
                    [style.background] = "changeColor[0] ? '#03a9f4' : '#036b9b'"> 
                    <span class="icon"><i class="fa fa-id-card-o" aria-hidden="true"></i></span>
                    <span routerLink="profile" class="title">Profile</span>    
                </a>
            </li>
            <li>
                <a routerLink="list-users" (click)="changeColorFunction(1)"
                    [style.background] = "changeColor[1] ? '#03a9f4' : '#036b9b'">
                    <span class="icon"><i class="fa fa-list" aria-hidden="true"></i></span>
                    <span routerLink="list-users" class="title">List Users</span>
                </a>
            </li>
        </ul>
    </div>
    
    <div class="main">
        <router-outlet></router-outlet>
    </div>
    
</div>
