<section class="banner">


  <img src="../../assets/images/avatar1.png" alt="man" class="men">
  <div class="content">
    <div class="contentBx">
      <h4>Hello,</h4>
      <h2>I'm Nguyen Duy Tan</h2>
      <p>This is my report to ITSJ-Group's Java Teams.</p>
      <p>This demo has some features such as:</p>
      <ul>
        <li><p>- Login with user account</p></li>
        <li><p>- Register new account</p></li>
        <li><p>- Sending email to new user's email</p></li>
        <li><p>- Showing List User with Searching and Pagination</p></li>
        <li><p>- Allow user to edit personal information</p></li>
      </ul>
      <a routerLink="register" href="#">Sign Up</a>
      <a routerLink="login" href="#">Login</a>>
    </div>
  </div>

  <ul class="sci">
    <li><a href="https://www.facebook.com/profile.php?id=100013695186776"><img src="../assets/images/facebook.png"></a></li>
    <li><a href="https://www.instagram.com/ndt.ptit/"><img src="../assets/images/instagram.png"></a></li>
    <li><a href="https://github.com/tannd1904"><img src="../assets/images/github.png"></a></li>
  </ul>

  <img src="../assets/images/1.png" class="elements" data-speed="8">
  <img src="../assets/images/2.png" class="elements" data-speed="6">
  <img src="../assets/images/3.png" class="elements" data-speed="-10">
  <img src="../assets/images/4.png" class="elements" data-speed="-6" style="z-index: 2000">

</section>
