header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  background: #21283a;
  z-index: 100;
}

header .logo {
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s;
  transform-origin: right;
}

.toggle {
  color: #fff !important;
  float: right;
}